/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  padding: 20px;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.header {

}

.header__theme-menu-button {
  background-color: transparent;
}

h1 {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);  /* Mobile */
  color: #db00ff;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_title {

}

.title-decor {
  background-color: var(--accent-color);
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 60px 0;
}

section {
  display: grid;
}

.why_hard {
  /* display: grid; */
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

h2 {
  font-size: 18px;
  line-height: 23.4px;
  margin: 0;
  color: #ff0070;
}

.why_hard-title {
  grid-row: span 2;
}

h3 {
  font-size: 18px;
  line-height: 23.4px;
  margin: 0 0 10px;
}

section p {
  color: #f1b2ce;
}

a {
  color: #f1b2ce;
  text-shadow: 2px 2px 0 var(--accent-color);
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: 1px solid #f1b2ce;
}

.what_lowers {
  /* display: grid; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, min-content);
  gap: 20px;
}

.what_lowers-title {
  grid-column: 1;
}

.what_lowers-article {
  grid-column: span 3;
}

.how_better {
  /* display: grid; */
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(5, min-content);
  gap: 20px;
}

.how_better-title {
  grid-row: span 5;
}

.gallery {
  /* display: grid; */
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, min-content);
  /* grid-template-areas:
    "title title title"
    ""
    ""
    ""; */
  gap: 20px;
}

.gallery-title {
  /* grid-area: title; */
}

img {
  width: 100%;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: icecream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.footer {
  
}
