/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  padding: 0 var(--page-padding);
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  align-items: center;
  height: var(--fullscreen-height);
}

.header::before {
  content: "";
  display: inline-block;
  height: 25px;
  width: 25px;
  position: absolute;
  top: var(--page-padding);
  right: 0;
  border-top: 1px solid var(--decorations-color);
  border-right: 1px solid var(--decorations-color);
}

.header::after {
  content: "";
  display: inline-block;
  height: 25px;
  width: 25px;
  position: absolute;
  bottom: var(--page-padding);
  left: 0;
  border-bottom: 1px solid var(--decorations-color);
  border-left: 1px solid var(--decorations-color);
}

.rec {
  position: absolute;
  top: var(--page-padding);
  right: 9px;
  color: var(--accent-color);
  line-height: 25px;
}

.rec_dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  /* margin-top: 75px; */
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--decorations-color);
  text-transform: lowercase;
  padding: 0 13px;
  height: 26px;
  text-align: center;
}

.header__theme-menu-button:hover {
  border: 1px solid rgb(255 0 112 / 0.5);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--decorations-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorations-color);
  pointer-events: none;
}

h1 {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* Mobile */
  color: var(--big-title-color);
}

.header_title {
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 40px 0;
}

section {
  display: grid;
}

.why_hard {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 20px;
}

h2 {
  font-size: 18px;
  line-height: 23.4px;
  margin: 0;
  color: var(--decorations-color);
}

.why_hard-title {
  grid-row: span 2;
}

h3 {
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 10px;
  color: var(--text-color);
}

section p {
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: 1px solid var(--text-color);
}

.what_lowers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, min-content);
  gap: 20px;
}

.what_lowers-title {
  grid-column: 1;
}

.what_lowers-article {
  grid-column: span 3;
}

.how_better {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  gap: 20px;
}

.advice_title {
  margin-bottom: 20px;
}

h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-areas:
    "title"
    "sunset"
    "icecream"
    "tape"
    "books"
    "street";
  gap: 10px;
}

.gallery-title {
  grid-area: title;
}

img {
  width: 100%;
  /* height: 100%; */
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: icecream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.footer {
  height: var(--fullscreen-height);
  display: grid;
  position: relative;
}

.footer_title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* Mobile */
  color: var(--big-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  margin: auto;
}

.footer::before {
  content: "";
  display: inline-block;
  height: 25px;
  width: 25px;
  position: absolute;
  top: var(--page-padding);
  right: 0;
  border-top: 1px solid var(--decorations-color);
  border-right: 1px solid var(--decorations-color);
}

.footer::after {
  content: "";
  display: inline-block;
  height: 25px;
  width: 25px;
  position: absolute;
  bottom: var(--page-padding);
  left: 0;
  border-bottom: 1px solid var(--decorations-color);
  border-left: 1px solid var(--decorations-color);
}

@media (width >= 768px) {
  :root {
    --fullscreen-height: 1024px;
    --page-padding: 20px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header_title {
    grid-column: span 2;
  }

  .header_text {
    grid-column: 2;
  }

  .content {
    gap: 80px;
    margin: 60px 0;
  }

  .why_hard {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }

  .how_better {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, min-content);
  }

  .how_better-title {
    grid-row: span 5;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "title title title"
      "sunset sunset icecream"
      "tape books icecream"
      "tape street street";
    gap: 20px;
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}

@media (width >= 1024px) {
  :root {
    --fullscreen-height: 768px;
    --page-padding: 20px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content repeat(3, 1fr);
    padding-top: var(--page-padding);
  }

  .header__theme-menu {
    grid-column: span 2;
    justify-self: center;
    /* margin-top: var(--page-padding); */
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header_title {
    grid-row: 3;
    grid-column: span 2;
  }

  .header_text {
    grid-row: 4;
    grid-column: 2;
  }

  .content {
    gap: 80px;
    margin: 60px 0;
  }

  .why_hard {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }

  .what_lowers {
    grid-template-rows: repeat(2, min-content);
    gap: 20px;
  }

  .what_lowers-title {
    grid-column: span 3;
  }

  .what_lowers-article {
    grid-column: initial;
  }

  .how_better {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, min-content);
  }

  .how_better-title {
    grid-row: span 5;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "title title title"
      "sunset sunset icecream"
      "tape books icecream"
      "tape street street";
    gap: 20px;
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}
